body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #35424a;
}

#container {
    min-height: 100%;
    position: relative;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

ul{
    margin: 0;
    padding: 0;
}

.h{
    color: #ffffff;
}

.button_1{
    border: none;
    outline: none;
    height: 40px;
    background: #06fa94;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    width: 70%;
}

.container h1 {
    color: #ffffff;
}

.container p {
    color: #ffffff;
}

.dark {
    padding:15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.textarea h1{
    margin: 10px 0 20px 0;
    padding: 0;
    font-weight: lighter;
}

.content-box {
    margin: 0;
    width: 100%;
    height: 100%;
}


.loginbox {
    background: #ffffff;
    margin: 19.5px 20px;
    border: 1px solid black;
    height: 100%;
    width: 30%;
    padding: 10px 10px;
    color: #ffffff;
    margin-left: 33%;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox h1{
    margin: 10px 0 20px 0;
    padding: 0;
    font-weight: lighter;
    color: #e8491d;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"] {
    border: none;
    border-bottom: 1px solid #35424a;
    background: transparent;
    outline: none;
    height: 20px;
    color: #35424a;
    font-size: 16px;
    margin-bottom: 40px;
}

.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #35424a;
    background: transparent;
    outline: none;
    height: 20px;
    color: #35424a;
    font-size: 16px;
    margin-bottom: 40px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #06fa94;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}



.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #fb2525;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    color: darkgrey;
}

#message {
    position: absolute;
    border-radius: 5px;
    left: 13%;
    background-color: #ffffff;
    width: 70%;
    margin: 0%;
    padding: 10px;
    height: 400px;
    top: 7%;
}

#message p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    padding: 0;
    margin: 5px 0 10px 0;
    color: #e8491d; 
}

#dash-content input[type='text'] {
    border: none;
    border-bottom: 1px solid #35424a;
    background: transparent;
    outline: none;
    height: 20px;
    color: #35424a;
    font-size: 16px;
    margin-bottom: 40px;
    width: 100%;
}

#dash-content input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: #06fa94;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    width: 20%;
    margin-top: 0;
}

textarea{
    margin: 0%;
    padding: 10px;
    width: 96%;
    background-color: #ffffff;
    color: #35424a;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#data {
    box-sizing: border-box;
    background: 1px solid black;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#sidebar{
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    background:#35424a;
    color: #ffffff;
}

#sidebar h2 {
    margin: 10px;
    padding: 10px;
    margin-bottom: 70px;
}

#sidebar-form {
    margin: 30px 10px;
    padding: 0;
}

#sidebar-form input{
    width: 100%;
    margin-bottom: 20px;
}

#sidebar-form input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}

#sidebar input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #06fa94;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

#sidebar input[type="submit"]:hover {
    cursor: pointer;
    background: #fb2525;
    color: #000;
}

#adminlogo{
    background: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    float: right;
    margin-left: 10px;
}

#dash-data {
    background-color: #35424a;
    height: 100%;
}

#dash-content {
    background-color: #35424a;
    height: 100%;
    width: 70%;
    margin-left: 20%;
    position: absolute;
    left: -6%;
}
table{
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e8491d;
    color: white;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

.delete-icon {
    width: 20px;
    height: 20px;
}
#output {
    height: 40px;
    margin: 0;
    padding: 0;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: #e8491d 3px solid;
    margin-top: 0px;
    background-color: #35424a;
    text-align: center;
    color: #ffffff;
    height: 30px;
}

#container {
    height: 100%;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding, 
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    .loginbox {
        background: #35424a;
        margin: 19.5px 20px;
        border: 1px solid black;
        height: 420px;
        width: 50%;
        padding: 10px 10px;
        color: #ffffff;
        margin-left: 25%;
    }

    #adminlogo {
        float: none;
        margin-top: 10px;
        margin-left: 42%;
    }

    textarea {
        width: 92%;
    }

    #message p {
        font-size: 24px;
    }
}
